* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
   margin: 0;
  padding-top: 80px;
  background-color: #111;
  color: white;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  background: linear-gradient(135deg, #111 60%, #1c1c1c);
}

.hero-content {
  max-width: 500px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ff3c00;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: #ccc;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.primary {
  background-color: #ff3c00;
  color: white;
}

.primary:hover {
  background-color: #ff5722;
  transform: scale(1.05);
}

.secondary {
  border: 2px solid #ff3c00;
  color: #ff3c00;
  width: 100%;
padding: 12px;
background: #25D366;
color: white;
border: none;
font-weight: bold;
cursor: pointer;
margin-top: 15px;
border-radius: 6px;
font-size: 16px;
}

.secondary:hover {
  background-color: #ff3c00;
  color: white;
  transform: scale(1.05);
  opacity: 0.9;
}

.btn-whatsapp {
  
}

.btn-whatsapp:hover {
  
}

.hero-image img {
  width: 450px;
  max-width: 100%;
}

/* Animação suave */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }
  
  50% {
    transform: translateY(-10px);
  }
}

/* Responsivo */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  
  .hero-buttons {
    justify-content: center;
  }
  
  .hero-image {
    margin-top: 40px;
  }
}

.cardapio {
  padding: 80px 10%;
  background-color: #1a1a1a;
  text-align: center;
}

.cardapio h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #ff3c00;
}

.filtros {
  margin-bottom: 40px;
}

.filtro-btn {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.filtro-btn:hover,
.filtro-btn.active {
  background-color: #ff3c00;
}

.produtos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.produto-card {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  transition: 0.3s;
}

.produto-card:hover {
  transform: translateY(-5px);
}

.produto-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.produto-card h3 {
  margin-bottom: 10px;
}

.preco {
  color: #ff3c00;
  font-weight: bold;
  margin-bottom: 10px;
}

.adicionar-btn {
  padding: 8px 15px;
  background-color: #ff3c00;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.carrinho {
  position: fixed;
  right: -320px;
  /* escondido */
  top: 0;
  width: 300px;
  height: 100vh;
  background: #111;
  padding: 20px;
  border-left: 2px solid #ff3c00;
  transition: 0.4s ease;
}

.carrinho h3 {
  margin-bottom: 20px;
}

.carrinho-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.total {
  font-weight: bold;
  margin: 20px 0;
}

.btn-carrinho {
  position: fixed;
  right: -320px;
  /* começa escondido */
  top: 0;
  width: 300px;
  height: 100vh;
  background: #111;
  padding: 20px;
  border-left: 2px solid #ff3c00;
  transition: 0.4s ease;
}

/* Quando estiver ativo */
.carrinho.ativo {
  right: 0;
}

.carrinho-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fechar-btn {
  background: none;
  border: none;
  color: #ff3c00;
  font-size: 18px;
  cursor: pointer;
  z-index: 2000px;
}

.carrinho {
  right: -320px;
  transition: 0.4s ease;
}

.carrinho.ativo {
  right: 0;
}

.btn-abrir-carrinho {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ff3c00;
  color: white;
  border: none;
  padding: 15px 18px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.btn-abrir-carrinho:hover {
  transform: scale(1.1);
}

/* ================= NAVBAR ================= */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 2px solid #ff3c00;
}

.logo {
  color: #ff3c00;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff3c00;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    background: #111;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    transition: 0.4s;
  }

  .nav-links.ativo {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }
}

.carrinho-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.remover-btn {
  background: #ff3c00;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 4px;
}

.remover-btn:hover {
  background: #cc2f00;
}

.logo{
  width: 90px;
  height: 90px;
}

/* ================= SOBRE ================= */

.sobre {
  background: #0f0f0f;
  color: white;
  padding: 80px 10%;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.sobre-texto {
  flex: 1;
}

.sobre-texto h2 {
  color: #ff3c00;
  font-size: 32px;
  margin-bottom: 20px;
}

.sobre-texto p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #ccc;
}

.btn-sobre {
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff3c00;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-sobre:hover {
  background: #cc2f00;
}

.sobre-imagem {
  flex: 1;
  text-align: center;
}

.sobre-imagem img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .sobre-container {
    flex-direction: column;
    text-align: center;
  }
}

/* ================= CONTATO ================= */

.contato {
  background: #111;
  color: white;
  padding: 80px 10%;
  text-align: center;
}

.contato h2 {
  color: #ff3c00;
  margin-bottom: 40px;
  font-size: 30px;
}

.contato-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.contato-info {
  flex: 1;
  text-align: left;
}

.contato-info p {
  margin-bottom: 15px;
  color: #ccc;
}

.contato-info a {
  color: #25D366;
  text-decoration: none;
  font-weight: bold;
}

.contato-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contato-form input,
.contato-form textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contato-form textarea {
  resize: none;
  height: 120px;
}

.contato-form button {
  padding: 12px;
  background: #ff3c00;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.contato-form button:hover {
  background: #cc2f00;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .contato-container {
    flex-direction: column;
    text-align: center;
  }
  
  .contato-info {
    text-align: center;
  }
}

.footer {
  background: #111;
  color: #fff;
  padding: 50px 20px 20px;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer h2 {
  color: #ff4500;
}

.footer h3 {
  margin-bottom: 10px;
  color: #ff8c00;
}

.footer p,
.footer a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  color: #ff4500;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #777;
}

.footer {
  background: url("img/brasa-textura.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: #fff;
  padding: 60px 20px 20px;
  margin-top: 80px;
  position: relative;
}

.footer {
  background: radial-gradient(circle at center, #2b0000 0%, #111 60%, #000 100%);
  color: #fff;
  padding: 60px 20px 20px;
  margin-top: 80px;
}